.UserInfo {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: xxx-large;
	font-family: sudo;
	color: #378d4e;
}

.MainArea {
	padding: 26px;
	border-radius: 2%;
}

.TechStack {
	backdrop-filter: brightness(0.9) blur(2px);
}

@font-face {
	font-family: sudo;
	src: url("./Sudo-Regular.ttf");
}
